<nz-sider class="menu-sidebar"
nzCollapsible
nzWidth="256px"
nzBreakpoint="md"
[nzTrigger]="null">
<div class="sidebar-logo">
<a class="p-2" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
<img src="/assets/images/logo.png" height="25px" width="25px" alt="logo">
<h1>Student Management</h1>
</a>
</div>
<ul nz-menu nzTheme="dark" nzMode="inline">
  <li nz-menu-item>
    <i nz-icon nzType="database"></i>
    <span><a class="p-2" [routerLink]="['/department-list']" routerLinkActive="active" >Department</a></span>
  </li>
  <li nz-menu-item>
    <i nz-icon nzType="book"></i>
    <span><a class="p-2"[routerLink]="['/course-list']" routerLinkActive="active" >Courses</a></span>
  </li>
  <li nz-menu-item>
    <i nz-icon nzType="user"></i>
    <span><a class="p-2" [routerLink]="['/student-list']" routerLinkActive="active" >Students</a></span>
  </li>
  <li nz-menu-item>
    <i nz-icon nzType="audit"></i>
    <span><a class="p-2" [routerLink]="['/enrollment-list']" routerLinkActive="active">Enrollments</a></span>
  </li>
  </ul>
</nz-sider>