<div class="container">
  <a class="btn btn-outline-info" routerLink="/department-create">Create New Department</a>
  <nz-table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dept of departments">
        <td>{{dept.id}}</td>
        <td>{{dept.departmentName}}</td>
        <td>{{dept.location}}</td>
        <td><a class="btn btn-outline-success" routerLink="/department-detail/{{dept.id}}" >View »</a>
          <a class="btn btn-outline-info" routerLink="/department-edit/{{dept.id}}">Edit</a>
          <a class="btn btn-outline-danger" (click)="onDelete(dept.id)">Delete</a></td>

      </tr>
    </tbody>
  </nz-table>
  


</div>
