<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let dept of departments">
        <app-department-item [department]="dept"></app-department-item>
    </div>
  </div> <br><br>

  <form #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="id" [value]=9 >
    <div class="form-group">
      <label for="departmentName">Department Name</label>
      <input type="text" class="form-control form-control-lg" name="departmentName" 
      #departmentName="ngModel" [(ngModel)]="departmentService.formData.departmentName">
    </div>
    <div class="form-group">
      <label for="location">Department Location</label>
      <input type="text" class="form-control form-control-lg" name="location" 
      #location="ngModel" [(ngModel)]="departmentService.formData.location">
    </div>
    <div class="form-group">
      <label for="departmentDescription">Department Description</label>
      <textarea name="departmentDescription" #departmentDescription="ngModel" 
        [(ngModel)]="departmentService.formData.departmentDescription" cols="30" rows="10">
      </textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-info btn-lg btn-block" type="submit">Submit</button>
    </div>
  </form>

</div>
